* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container h1 {
    margin-top: 3rem;
}

input[type="text"] {
    height: 50px;
    width: 600px;
    margin: 100px 0;
    border-radius: 2px;
    padding: 7px;
    border: none;
    background-color: #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
    margin: 100px 0;
    border-radius: 2px;
    padding: 7px;
    border: none;
    background-color: black;
    color: #e7e7e7;
    font-weight: bold;
    cursor: pointer;
}


.para {
    background-color: #e7e7e7;
    text-align: center;
    height: 300px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 70px;
}

p {
    font-size: 50px;
}

.desc {
    text-transform: uppercase;
}


@media only screen and (max-width: 320px) {
    .para{
        background-color: grey;
    }

    input[type="text"] {
        width: 300px;
    }
}