
.header {
    background-color: #C0C0C0;
}

.custom {
    padding: 15%;
}

.quality {
    padding: 5%;
}

.navbar-brand {
	font-weight: bold;
	font-size: 2.5rem;
}

.loc {
    color: red;
}

.nav-item {
    padding: 0 32px;
    font-weight: 500;
}
.pac h1 {
    font-size: 2.5rem;
    mar
}

.pac {
	background-color: lightslategray;
}